* {
	box-sizing: border-box;
	line-height: 30px;
	font-family: Sans-Serif
}

body {
	margin: 12px;
}

body > div {
	margin-bottom: 12px;
}

button.small {
	display: inline-block;
	padding: 0px;
	border: 1px solid #666;
	width: 50px;
	height: 32px;
	background: #ddd;
	margin-left: 2px;
	margin-right: 2px;
}

button.small:active,
button.small.active {
	background: #aaa;
}

.hidden {
	display: none;
}

/*
 * Playback
 */

#is-playing,
#progress-text {
	display: inline-block;
}
#progress-text {
	float: right;
}
#group-buttons {
	text-align: center;
}

progress {
	width: 100%;
	height: 24px;
}

/*
 * Volume
 */

input[type="range"] {
	border: 1px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	margin: 0px;
	width: 100%;
}

#group-volume {
	text-align: center;

	border-top: 1px solid #ccc;
	padding-top: 12px;
	margin-top: 24px;
}

/*
 * Sub Delay
 */

#group-sub-delay {
	text-align: center;

	border-top: 1px solid #ccc;
	padding-top: 12px;
	margin-top: 6px;
}

/*
 * Subtitles
 */

#group-subtitles {
	text-align: center;

	border-top: 1px solid #ccc;
	padding-top: 12px;
}

#subtitles-options {
	margin-top: 6px;
	text-align: left;
	clear: both;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#subtitles-options label {
	display: block;
	max-width: 100%;
	word-wrap: break-word;
}
#subtles-options label input {
	float: left;
}
#subtitles-options label div {
	width: calc(100% - 30px);
	display: inline-block;
	word-wrap: break-word;
	float: right;
}
